<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <input id="wsSend" type="text" name="send">
    <button id="wsBtn">发送消息</button>
    <script type="text/javascript">
    </script>
  </body>
</html>
